*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

.conteiner{
    display: flex;
    background: red;
}

.conteine-1{
    display: flex;
}

.conteine-menu{
   margin: 12px 10px;
   color: white;
}

.conteine-nome{
    width: 100%;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.conteine i{
    font-size: 25px;
}
.conteine-compra-1{
    padding: 12px 0 0 0;
}

.conteiner-pesquisa{
    background-color: rgb(255, 0, 0);
    width: 100%;
    text-align: center;
}

.conteiner-pesquisa input{
    border: solid 1px rgb(232, 187, 187);
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
    width: 80%;
}

.conteine-local{
    padding: 6px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.conteine-compra{
    display: none;
}

.conteine-local p{
    padding: 10px;
}

@media screen and (max-width: 800px){
    .conteiner{
        display: inline;
    }
    .conteine-1{
        display: flex;
        width: 100%;
        color: white;
        background-color: rgb(255, 0, 0);
    }

    .conteine-compra{
        display: block;
        width: 20%;
        margin: 9px 8px;
        background: rgb(255, 0, 0);
        text-align: center;
    }

    .conteine-compra-1{
        display: none;
    }

}